.container {
  padding-top: 40px;
}

.card-container {
  padding-top: 100px;
}

body {
  background: rgb(242, 245, 245);
}

.googleBtn {
  padding-top: 100px;
}

.btn,
.form-control,
.modal-content {
  border-radius: 0;
}

img {
  width: 40px;
}

.logOut {
  color: white !important;
  cursor: pointer;
}

.delete-expense,
li {
  cursor: pointer;
}

.card {
  height: 300px;
}

.btn-circle {
  width: 30px !important;
  height: 30px !important;
  text-align: center !important;
  padding: 6px 0 !important;
  font-size: 12px !important;
  line-height: 1.428571429 !important;
  border-radius: 15px !important;
}

.btn-circle.btn-lg {
  width: 50px !important;
  height: 50px !important;
  padding: 10px 16px !important;
  font-size: 18px !important;
  line-height: 1.33 !important;
  border-radius: 25px !important;
}

.errMessage{
  color: red;
}